@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden */
}


.setting{
    position: absolute;
    position: fixed;
    left: 0px;
    top: 200px;
    padding-top: 8px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:rgb(254,152,47);
    z-index: 10;
    
}

.abc{
    animation: rotate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes rotate{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.home_button{
    position: absolute;
    position: fixed;
    right: 40px;
    top: 550px;
    padding-top: 8px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:rgb(254,152,47);
    z-index: 10;
}

.home_button a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width:320px) and (max-width:480px){

    .home_button{
        left: 260px;
        top: 360px;
    }
    
}


               /* HEADER */

header{
    padding: 13px;
    padding-left: 680px;
    background-color: rgb(8,21,40);
    display: flex;
}

header div{
    height: 25px;
    padding-top: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

header div:nth-child(1){
    padding-right: 15px;
    border-right: 1px solid rgb(57,68,83);
}

header div:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid rgb(57,68,83);
}

header div:nth-child(2) .fa{
    margin-right: 8px;
    color: rgb(254,152,47);
    font-size: 13px;
}

header div:nth-child(2) a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    transition: all 0.5s;
}

header div:nth-child(2) a:hover{
    color:  rgb(254,152,47);
}

header div:nth-child(3){
    padding-left: 15px;
}

header div:nth-child(3) .fa{
    margin-right: 8px;
    color: rgb(254,152,47);
    font-size: 13px;
}

@media screen and (min-width:320px) and (max-width:480px){
    header{
        display: none;
    }

}



                /* NAVBAR */


.navbar{
    padding: 18px 0px;
    display: flex;
    background-color: rgb(254,152,47);
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0px !important;
    z-index: 5;
    width: 100%; */
} 

.navbar div img{
    background-color: white;
    /* border: 1px solid red; */
    padding: 30px 35px;
    position: absolute;
    left:100px;
    top: 0px;
    z-index: 10;
}

.navbar div:nth-child(2){
    display: flex;
}

.navbar .list1{
    margin-right: 25px;
    padding-top: 7px;
    
}
.navbar  .list1 li{
    list-style: none;
    display: inline;
    padding-left: 22px;
}
.navbar .list1 li a{
    position: relative;
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    transition: transform 5s;
    transition-timing-function: ease-in;
    transform-origin: left;
}
.navbar .list1 li i{
    font-size: 20px;
    color: white;
    transition: all 0.5s;
}



.navbar .list1 li a::after{
    height: 2px;
    width: 15px;
    border-radius: 2px;
    content: "";
    display:block;
    background-color:  white ;
    position: absolute;
    bottom:1;
    left: 0;
    transform: scalex(0);
    transition: transform 0.3s;
    transform-origin: left;
} 

.navbar .list1 li a:hover::after{
    transform: scaleX(1);
} 

.navbar .list1 a:nth-child(1)::after{
    height: 2px;
    width: 15px;
    border-radius: 2px;
    content: "";
    display:block;
    background-color:  white ;
    position: absolute;
    bottom:1;
    left: 0;
}

.navbar .list1 li i:hover{
    color:  rgb(8,21,40);
}


.navbar .list2{
    margin-right: 100px;
}

.navbar  .list2 li{
    list-style: none;
    display: inline;
    padding-left: 3px;
}

.navbar .list2 li i{
    border: 1px solid white;
    padding-top: 8px;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 17px;
    color: white;
    transition: all 0.5s;
}
.navbar .list2 li i:hover{
    border: 1px solid transparent;
    color:  rgb(254,152,47);
    background-color: white;
}





@media screen and (min-width:320px) and (max-width:480px){

    .navbar{
        display: block;
    }
    .navbar div img{
        padding: 10px 10px;
        position: absolute;
        left:28%;
        top: 0px;
        height: 100px;
    }
    .navbar div:nth-child(2){
        display: block;
    }
    .navbar .list1{
        padding-top: 100px;
        text-align: center;
        
    }
    .navbar  .list1 li{
        list-style: none;
        display: block;
        padding-top: 22px;
    }
    .navbar .list2{
        margin-right: 0px;
        padding-top: 10px;
        text-align: center;
    }

}



            /* blog1 */



.main_div1{
    background-image: url(../Media/Home/slider-mainbg-003.jpg);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main_div1 h1{
    padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;

}

.main_div1 a{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    transition: all 0.5s;
}

.main_div1 a:hover{
    color:rgb(254,152,47) ;
}

.main_div1 .double_angle{
    color: rgb(254,152,47);
    
}

.main_div1 .contact{
    color: rgb(254,152,47);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}



             /* blog1 */


.main_div2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
}

.main_div2 .card{
    /* border: 1px solid red; */
    height: 500px;
    width: 380px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s;
}

.main_div2 .card:hover{
    transform: translateY(-8px);
}

.main_div2 .card .img_div{
    position: relative;

}

.main_div2 .card .img_div h1{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgb(254,152,47);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    /* height: 80px; */
    padding: 10px;
    font-size: 20px;
    transition: transform 0.5s;
}

.main_div2 .card:hover .img_div h1{
    transform: rotatey(360deg);
}
.main_div2 .card .text_div{
    position: relative;
}

.main_div2 .card .text_div::before{
    height: 200px;
    width: 4px;
    content: "";
    display:block;
    background-color: rgb(254,152,47) ;
    position: absolute;
    top:10px;
    left: 0px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.main_div2 .card:hover .text_div::before{
    transform: scaleY(1);
}

.main_div2 .card .text_div .text1 h1{
    /* border: 1px solid red; */
    margin-left: 30px;
    width: 260px;
    line-height: 22px;
    margin-top: 10px;

}

.main_div2 .card .text_div .text1 h1 a{
    text-decoration: none;
    color: rgb(8,21,40);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;

}

.main_div2 .card .text_div .text1 .text{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 30px;
    margin-top: 7px;


}

.main_div2 .card .text_div .text1 .text div{
    display: flex;
}

.main_div2 .card .text_div .text1 .text div:nth-child(1){
    border-right: 
    1px solid rgb(239,236,236);
    padding-right: 15px;
    height: 20px;
}

.main_div2 .card .text_div .text1 .text div:nth-child(2){
    margin-left: 15px;
}

.main_div2 .card .text_div .text1 .text div i{
    color:  rgb(254,152,47);
}

.main_div2 .card .text_div .text1 .text div h5{
    color: rgb(102,102,102);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 7px;
    font-size: 13px;
}

.main_div2 .card .text_div .text2{
    /* border: 1px solid red; */
    margin-left: 30px;
    width: 320px;
    margin-top: 14px;
    border-top: 1px solid rgb(239,236,236);
}

.main_div2 .card .text_div .text2 p{
    /* border: 1px solid red; */
    color: rgb(102,102,102);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* margin-left: 30px;
    width: 300px; */
    margin-top: 14px;
    margin-bottom: 15px;
}


.main_div2 .card .text_div .text2 a{
    text-decoration: none;
    color: rgb(8,21,40);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    word-spacing: 10px;
}

.main_div2 .card .text_div .text2 a:hover{
    color:  rgb(254,152,47);
}

@media screen and (min-width:320px) and (max-width:480px){

    .main_div2{
        display: block;
    }

    .main_div2 .card{
        width: 290px;


    }

    .main_div2 .card img{
        width: 290px;
        height: 193.33px;
    }

    .main_div2 .card .text_div .text2{
        width: 250px;
    }

    .main_div2 .card .text_div .text2 p{
        /* border: 1px solid red; */
        color: rgb(102,102,102);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        /* margin-left: 30px;
        width: 300px; */
        margin-top: 14px;
        margin-bottom: 15px;
        width: 250px;
    }

}




footer{
    height: 90vh;
    width: 100%;
    margin-top: 600px;
}

.footer_div1{
    /* border: 2px solid red; */
    width: 100%;
    height: 120px;
    display: flex;
}

.footer_div1 .inner1{
    background-color: rgb(13,28,51);
    width: 30%;
    text-align: center;
    padding-top: 40px;
}

.footer_div1 .inner2{
    background-color: rgb(254,152,47);
    width: 70%;
    display: flex;
    padding-top: 35px;
}

/* .footer_div1 .inner2 div{
    border: 2px solid red;
} */

.footer_div1 .inner2 i{
    margin-left: 40px;
    font-size: 50px;
    color: white;
}

.footer_div1 .inner2 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 20px;

}

.footer_div1 .inner2 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 20px;
    font-size: 15px;

}

.footer_div1 .inner2 input{
    margin-left: 40px;
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    padding: 10px;
}

.footer_div1 .inner2 .mail{
    background-color: rgb(8,21,40);
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
    margin-left: 0px;
    /* margin-right: 50px; */
    cursor: pointer;
}



.footer_div2{
    background-image:linear-gradient(rgb(8,21,40,0.5),rgb(8,21,40,0.5)) ,url(../Media/Footer/footer-bg.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.footer_div2 .max-width{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    height: 380px;
    display: flex;
}

.footer_div2 .max-width .footer1{
    height: 380px;
    width: 390px;
    /* border: 1px solid red; */


}

.footer_div2 .max-width .footer2{
    height: 380px;
    width: 390px;
    /* border: 1px solid red; */

}

.footer_div2 .max-width .footer3{
    height: 380px;
    width: 390px;
    /* border: 1px solid red; */

}

.footer_div2 .max-width .footer4{
    height: 380px;
    width: 390px;
    /* border: 1px solid red; */

}


.footer1 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 90px;
    margin-left: 20px;
}


.footer1 .inner1{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(23,35,55);
    padding-bottom: 13px;
    width:250px ;
}
 
.footer1 .inner1 i{
    font-size: 20px;
    color: rgb(254,152,47);
}


.footer1 .inner1 div:nth-child(2){
    margin-left: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.footer1 .inner1 a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    transition: hover 0.5s;
}

.footer1 .inner1 a:hover{
    color: rgb(254,152,47);

}



.footer2 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 90px;
    margin-left: 20px;
}

.footer2 .inner_div{
    display: flex;
    margin-left: 20px;
}

.footer2 .inner_div .inner1{
    /* border: 1px solid red; */
    width: 130px;
    margin-top: 10px;
}

.footer2 .inner_div .inner1:nth-child(2){
    margin-left: 10px;
}

.footer2 .inner_div .inner1 i{
    color: rgb(254,152,47);
    margin-right: 5px;
    margin-top: 15px;
}

.footer2 .inner_div .inner1 a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    font-size: 15px;
    transition: all 0.5s;
}

.footer2 .inner_div .inner1 a:hover{
    color: rgb(254,152,47);

}



.footer3 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 90px;
    margin-left: 20px;
}


.footer3 .box1{
    display: flex;
}

.footer3 .box1 img{
    margin-top: 30px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
}


.footer3 .box1 span{
    margin-top: 30px;
    font-size: 14px;
    margin-left: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer3 .box1 span h5{
    /* margin-top: 30px; */
    font-size: 14px;
    /* margin-left: 20px; */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: all 0.5s;
}

.footer3 .box1 span h5:hover{
    color: rgb(254,152,47);
}

.footer3 .box1 span h6{
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer3 .box1:nth-child(2){
    border-bottom: 1px solid rgb(23,35,55);
    padding-bottom: 20px;
    width: 250px;
}



.footer4 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 90px;
    margin-left: 20px;
}

.footer4 h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(254,152,47);
    margin-left: 20px;
    margin-top: 20px;

}

.footer4 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}



.footer4 button{
    position: relative;
    padding: 15px 30px;
    color: rgb(254,152,47);
    cursor: pointer;
    background-color: transparent;
    /* border: none ; */
    z-index: 1;
    border: 2px solid rgb(254,152,47);
    margin-left: 20px;
    margin-top: 30px;
}


.footer4 button::after{
    background-color:rgb(254,152,47) ;
    color: white;
    /* border: 1px solid red ; */
    content: '';
   width: 251px;
   height: 51px;
   position: absolute;
   top: -2px;
   left: -3px;
   z-index: -1;
   transform: scalex(0);
   transition: all 0.5s;
   transform-origin: left;
}

.footer4 button:hover::after{
    transform: scaleX(1);
}


.footer4 button a{
    text-decoration: none;
    color: rgb(254,152,47);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.5s;

}

.footer4 button:hover a{
    color: white;
}





.footer_div3{
    width: 100%;
    height: 60px;
    background-color: rgb(17,17,17);
    /* display: flex; */
    width: 100%;
}

.footer_div3 .max-width{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    /* height: 380px; */
    
    
}


.footer5{
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    
}


.footer5 h3{
    color: white;
    padding-top: 19px;
    padding-left: 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer5 .icon_div{
    /* border: 2px solid red; */
    color: rgb(75,76,84);
    font-size: 18px;
    /* margin-left: 100px; */
    padding-top: 19px;
    /* float: right; */
}

.footer5 .fa{
    margin-left: 15px;
}
.footer5 .fa:hover{
    color:  white;
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:480px){


    footer{
        height: 90vh;
        width: 100%;
        margin-top: 2800px;
    }
    
    .footer_div1{
        display: block;
    }

    .footer_div2 .max-width{
        display: block;
    }

    .footer_div1 .inner1{
        width: 320px;
        height: 120px;
    }

    .footer_div1 .inner2{
        width: 320px;
        height: 236px;
        display: flex;
    }

    .footer_div1 .inner2 i{
        margin-left: 15px;
    }

    .footer_div1 .inner2 h2{
        margin-left: 20px;
        width: 208.3px;
        height: 90px;
        margin-bottom: 0px;
        font-size: 30px;
    }

    .footer_div1 .inner2 h4{
        width: 208.3px;
        height: 42px;
        margin-top: 0px;
    }

    
.footer_div1 .inner2 input{
     display: none;
}

.footer_div1 .inner2 .mail{
    display: none;
}


    .footer_div2{
        margin-top: 235px;
        height: 1400px;
    }

    .footer_div2 .max-width .footer1{
        height: 325px;
        width: 320px;
    }

    .footer1 h2{
        padding-top: 80px;
        margin-left: 20px;
    }

    .footer_div2 .max-width .footer2{
        height: 270px;
        width: 320px;
        margin-top: 60px;
        /* border: 1px solid red; */
    
    }

    .footer2 h2{
        margin-top: 0px;
    }


    .footer_div2 .max-width .footer3{
        height: 284px;
        width: 320px;
        margin-top: 60px;
        /* border: 1px solid red; */
    
    }

    .footer3 h2{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        color: white;
        margin-top: 0px;
        margin-left: 20px;
    }

    .footer3 .box1 span h5{
        width: 208px;
    }

    .footer_div2 .max-width .footer4{
        height: 273px;
        width: 320px;
        /* border: 1px solid red; */
    
    }
    





    .footer_div3{
        width: 320px;
        height: 100px;
    }

    .footer_div3 .footer5{
        display: block;
        text-align: center;
        
    }

    .footer_div3 .footer5 .icon_div{
        padding-top: 5px;
    }
    
    

    
}